.productpage{
    width: 498px;
    height: 550px;
    border: 1px solid red;
    align-items: center;
    color: black;
    margin: 0 auto;
    align-items: flex-end;
    margin-left: 660px;
    background-color: rgb(255, 255, 255); 
    opacity: 0.6;
    margin-top: -25px;
    border-radius: 10px;
}

.productRow-container{
    margin-top: 10px;
    width: 300px;
    height: 20px;
    border:2px solid goldenrod;
    margin-left: 100px;
    margin-bottom: 10px;
}

b{
    color: red;
}

.male{
    color: greenyellow;
}
.female{
    color: gold;
}
